@import 'tailwindcss';
@import 'cookieConsent/cookieconsent.css';

@font-face {
    font-family: 'AkkuratMono-Regular';
    src: url('../fonts/Akkurat/2ae387e9fd826eca2b02f780e91333c7.eot');
    src:
        url('../fonts/Akkurat/2ae387e9fd826eca2b02f780e91333c7.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Akkurat/2ae387e9fd826eca2b02f780e91333c7.woff') format('woff'),
        url('../fonts/Akkurat/2ae387e9fd826eca2b02f780e91333c7.woff2') format('woff2'),
        url('../fonts/Akkurat/2ae387e9fd826eca2b02f780e91333c7.ttf') format('truetype'),
        url('../fonts/Akkurat/2ae387e9fd826eca2b02f780e91333c7.svg#AkkuratMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'AkkuratMono-Regular';
}
.grow-line span:last-child::after,
a.grow-line::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: black;
    transition: width 0.3s ease-in-out;
}
.grow-line:hover span:last-child::after,
a.grow-line:hover::after {
    width: 100%;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-left {
    from {
        transform: translateX(-24px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-24px);
    }
}

/* define animations for the old and new content */
::view-transition-old(slide-it) {
    animation:
        180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
    animation:
        420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}

/* tie the view transition to a given CSS class */
.hx-inner-animate {
    view-transition-name: slide-it;
}