@font-face {
    font-family: 'AkkuratMono-Regular';
    src: url('fonts/Akkurat/2ae387e9fd826eca2b02f780e91333c7.eot');
    src:
        url('fonts/Akkurat/2ae387e9fd826eca2b02f780e91333c7.eot?#iefix') format('embedded-opentype'),
        url('fonts/Akkurat/2ae387e9fd826eca2b02f780e91333c7.svg#AkkuratMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
