{{define "header"}}
<header class="fixed flex w-full justify-center p-8 align-middle">
    <nav class="rounded-full p-4 backdrop-blur-sm">
        <ul class="flex flex-row gap-4">
            <li>
                <a
                    class="rounded-full bg-gray-800 px-8 py-3 font-semibold text-white transition-all ease-in-out hover:bg-gray-800"
                    href="/"
                    >Inicio</a
                >
            </li>
            <li>
                <a
                    class="rounded-full px-8 py-3 font-semibold text-gray-800 transition-all ease-in-out hover:bg-gray-800 hover:text-white"
                    href="/about"
                    >Sobre nosotros</a
                >
            </li>
            <li>
                <a
                    class="rounded-full px-8 py-3 font-semibold text-gray-800 transition-all ease-in-out hover:bg-gray-800 hover:text-white"
                    href="/contact"
                    >Contacto</a
                >
            </li>
        </ul>
    </nav>
</header>
{{end}}